@import '_var.scss';

section:first-of-type {
   #bgWolf {
    background-image: url(../img/DIV_VesselOfHatred_AshearaTheCanine.png);
    height: 100vh;
    background-size: contain;
    background-position: 2200% center;
    background-attachment: fixed;
    >div {
        @include displayBetween;
        flex-direction: column;
        @include padding;
        width: 55%;
        h2 {
            @include fontH2;
        }
        h3 {
            @include fontH3;
        }
        p {
            @include fontP;
        }
    }
}
}   