@import '_var.scss';

h2 {
    @include fontH2;
    text-align: center;
    padding: 30px 0px;
}
section:nth-of-type(4) {
    @include displayEvenly;
    article {
        margin: 30px 0px;
        width: 38%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            @include fontH3White;
            font-size: 40px;
            text-align: center;
        }
        p {
            color:$white;
            font-family: 'Poppins';
            padding: 30px 0px;
        }
        iframe {
            border-radius: 30px;
            height: 35vh;
        }
    }
}